<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>FreelanCE</title>
    <style>
      body {
        background: #ffffff;
      }

      .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
      }

      .card {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <header class="container-fluid bg-primary">
      <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-light" href="/">FreelanCE</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 container">
              <li class="nav-item">
                <a
                  class="nav-link active text-light"
                  aria-current="page"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/developers">Developers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/designers">Designers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/marketing">Marketing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/photographers"
                  >Photographers</a
                >
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link bg-light text-primary rounded mx-2"
                  href="/register"
                  >Register</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-fluid">
      <div class="information container p-4">
        <div class="title">
          <h2 class="h2 text-center">Freelancers</h2>
        </div>

        <div class="text">
          <p>
            Here are all the freelancers available and ready for any project,
            they are divided by categories, so if you need a specific one, in
            the navigation bar, you will have the options to choose from.
          </p>
          <p>
            All of them are great professionals and are looking for challenges
            to improve their professional skills and abilities. All values ​are
            below the card.
          </p>
          <p>
            NOTE: The amount must be paid per hour worked for example: $0.4 x
            4h(240 minutes) = $96
          </p>
        </div>
      </div>

      <ul class="cards container-fluid p-4 text-center">
        <% rows.forEach( (item) => { %>
        <div class="card text-bg-primary rounded">
          <div class="card-body">
            <h5 class="card-title"><%= item.f_name %></h5>
            <h6 class="card-subtitle mb-2 text-light">
              <%= item.f_profession %>
            </h6>
            <p class="card-text text-light"><%= item.f_desc %></p>
            <p class="card-text text-light">$<%= item.f_price %></p>
            <a
              href="/edit/<%= item.f_name %>"
              class="btn btn-light text-primary"
              >Edit</a
            >
            <a
              href="/delete/<%= item.f_name %>"
              class="btn btn-light text-primary"
              >Delete</a
            >
          </div>
        </div>
        <% }) %>
      </ul>
    </main>

    <footer
      class="container-fluid bg-primary d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
    >
      <p class="col-md-4 mb-0 text-light">
        <a
          href="https://github.com/mario-leandro"
          class="text-light text-decoration-none link-dark"
          target="_blank"
          >Mario Leandro</a
        >
        &copy; 2023
      </p>

      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none text-light"
      >
        FreelanCE
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-light">Home</a>
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/mario-leandro"
            class="nav-link px-2 text-light"
            target="_blank"
            >Github</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://mario-leandro.netlify.app/"
            class="nav-link px-2 text-light"
            target="_blank"
            >Portfólio</a
          >
        </li>
      </ul>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>